html {
	scroll-behavior: smooth;
}

#willkommen,
#ueberuns,
#kontakt-info {
	scroll-margin-top: 125px;
}

#logo {
	height: 80px;
}

#nav {
	margin-left: 10px;
}

#menu {
	margin-right: 10px;
}

.bar1,
.bar2,
.bar3 {
	width: 35px;
	height: 5px;
	background-color: #333;
	margin: 6px 0;
}

#emission-html,
#emission-body {
	height: 100%;
}

#impressum-body,
#datenschutz-body,
#emission-body,
#index-body {
	display: flex;
	flex-direction: column;
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
}

#emission-header,
#index-header {
	flex: 0 1;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#emission-footer {
	flex: 2 1;
}

#emission-main {
	flex: 1 1 auto;
	height: calc(100vh - 180px);
}
.table th {
	position: sticky;
	top: 0px;
}

.scrollable-table {
	overflow-y: auto;
	height: calc(100% - 120px);
	scroll-snap-type: y mandatory;
}

.nav-link {
	font-family: "Gill Sans", sans-serif;
	font-size: 20px;
	color: black;
}

.nav-link:hover {
	color: #a5df6e;
}

h2 {
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0px;
}

#filters {
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#div-country {
	padding-left: 10px;
	padding-right: 5px;
}

#div-company {
	padding-left: 5px;
	padding-right: 5px;
}

#div-reset {
	padding-left: 5px;
	padding-right: 10px;
}

#country-filter {
	padding-left: 10px;
	border-color: lightgray;
}

#company-filter {
	border-color: lightgray;
}

#reset-button {
	width: 100%;
	height: 100%;
	padding: 0px;
	border-color: lightgray;
	color: black;
}

#reset-button:hover {
	background-color: rgb(165, 223, 110);
	border-color: black;
}

/* Table*/
#table {
	margin-left: 10px;
	margin-right: 10px;
}

td {
	font-family: Arial, sans-serif;
}

th {
	vertical-align: top;
	cursor: pointer;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	background-color: #a5df6e !important;
	border-top: none;
}

.table tr {
	scroll-snap-align: start;
}

table,
td {
	border-bottom: 1px solid rgb(236, 236, 236);
	border-left: 1px solid rgb(236, 236, 236);
	border-right: 1px solid rgb(236, 236, 236);
}

/* Sort-arrows*/
.sort-arrow::after {
	padding-left: 2px;
	content: "↕";
}

.sort-arrow.asc::after {
	content: "↑";
}

.sort-arrow.desc::after {
	content: "↓";
}

#copyright {
	margin: 0px;
}

@media (max-width: 375px) {
	table {
		font-size: 14px;
	}
}

#impressum-main,
#datenschutz-main,
#index-main {
	padding-left: 10px;
	padding-right: 10px;
	width: 100%;
}

#index-body h1 {
	text-align: center;
}

#index-main button {
	width: 100%;
}

a:link,
a:visited {
	text-decoration: none;
}

#button1 {
	border: #a5df6e;
	background-color: #a5df6e;
	color: black;
}

#hq-img {
	width: 75%;
}

#offcanvasExample > div.offcanvas-body > div > ul > li > a {
	color: Black;
}
